.photos__like {
  height: 19px;
  width: 21px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Like_icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.photos__like:hover {
  opacity: 0.6;
}
