.popup__input {
    width: 100%;
    margin: 0;
    padding-bottom: 13px;
    font-family: inherit;
    display: block;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:last-of-type {
    margin-top: 30px;
}