.popup__container {
    min-width: calc(430px - (26px*2));
    min-height: calc(330px - (34px*2));
    background-color: #fff;
    margin: 0 auto;
    padding: 34px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    position: relative;
}