.profile {
    max-width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:320px) {
    .profile {
        flex-direction: column;
    }
}