.profile__edit {
  width: 24px;
  height: 24px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  outline: 1px solid #fff;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}