.header__logo {
    margin:0 0 45px 0;
    padding: 0;
    color: #fff;
    max-width: 173px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 126px;
        margin: 0 0 32px 27px;
        padding: 0;
    }
}