.profile__name {
  max-width: 373px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 18px 0 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 470px) {
  .profile__name {
    font-size: 37px;
    line-height: 37px;
  }
}

@media screen and (max-width: 370px) {
  .profile__name {
    font-size: 31px;
    line-height: 31px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 0 10px 0 0;
  }
}
