.profile__info {
    max-width: 415px;
    height: min-content;
    margin: 0 0 0 26.25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 581px) {
    .profile__info {
        max-width: 450px;
        align-items: center;
        margin: 26px 0 0;
    }
}

@media screen and (max-width:320px) {
    .profile__info {
        max-width: 100%;
        align-items: center;
    }
}