.image-popup__title {
    font-family: 'Inter', Arial, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -30px;
}