.profile__top {
    margin: 0 0 16px 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile__top {
        max-width: 100%;
        margin: 0 auto;
    }
}