.photos__interactive {
  margin: 0;
  padding: 25px 15px 31px 21px;
  background-color: #fff;
  color: #000;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
